In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
numbers = tuple([1, 2, 3, 4, 5, 6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [3]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [4]:
mixed_tuple = (1, 2.5, 'string', True)
mixed_tuple

(1, 2.5, 'string', True)

In [5]:
# Accessing elements in a tuple
print(numbers[0])

1

In [6]:
# Creating a tuple with multiple elements
my_tuple = (1, 2, 3, "Hello", 4.5)

# Creating an empty tuple
empty_tuple = ()

# Creating a tuple with one element (note the comma after the element)
single_element_tuple = (1,)

# Creating a tuple without parentheses
not_a_tuple = 1, 2, 3, 4, 5

print(my_tuple)
print(empty_tuple)
print(single_element_tuple)
print(not_a_tuple)

(1, 2, 3, 'Hello', 4.5)
()
(1,)
(1, 2, 3, 4, 5)

In [7]:
## accessing elements in a tuple
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
numbers[1]

2

In [9]:
numbers[3]

4

In [10]:
print(numbers[-1])

6

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [13]:
## Tuple operations

# Concatenation
numbers = numbers + (7, 8, 9)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
mixed_tuple * 3

(1, 2.5, 'string', True, 1, 2.5, 'string', True, 1, 2.5, 'string', True)

In [15]:
## Immutability of tuples
numbers[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# packing and unpacking
pakec_tuple = 1, 2, 3, 4, 5
print(pakec_tuple)

(1, 2, 3, 4, 5)

In [17]:
#unpacking
a, b, c, d, e = pakec_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [18]:
#nested tuple
nested_tuple = (1, 2, (3, 4, 5), 6, 7)
print(nested_tuple)
print(nested_tuple[2])
print(nested_tuple[2][1])

(1, 2, (3, 4, 5), 6, 7)
(3, 4, 5)
4