In [ ]:
##integer example 
age = 35
type(age)

int

In [2]:
##floating point datatype
height = 5.9
print(type(height))

<class 'float'>

In [ ]:
## string datatype example
name = "John"
print(type(name))

<class 'str'>

In [ ]:
## boolean datatype example
type(True)

bool

In [ ]:
a = 10
b = 10

type(a == b)

bool

In [ ]:
## common error

result = 'Hello'+5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "Hello"+str(5)
print(result)

Hello5

In [ ]:
str = "Hello"
str.capitalize()

'Hello'